In [1]:
import pandas as pd
tracks = {
    'sandy' : '2012',
    'harvey' : ' 2017'
}

In [2]:
url = 'https://www.ncei.noaa.gov/data/international-best-track-archive-for-climate-stewardship-ibtracs/v04r00/access/csv/ibtracs.ALL.list.v04r00.csv'
df = pd.read_csv(url, parse_dates=['ISO_TIME'], usecols=range(12),
                 skiprows=[1], na_values=[' ', 'NOT_NAMED'],
                 keep_default_na=False, dtype={'NAME': str})

In [3]:
for name, year in tracks.items():
    tr = df.query(f'SEASON >= {year} & NAME == "{name.upper()}" & BASIN == "NA"').interpolate().rename(columns={
        'ISO_TIME' : "TIME_",
        'WMO_WIND' : 'INTENSITY'})
    tr.to_pickle(f"../data/pickles/{name}/track.pkl", protocol=4)

In [13]:
pd.to_datetime(tr['TIME_']).dt.tz_localize('UTC')

675139   2017-08-16 06:00:00+00:00
675140   2017-08-16 09:00:00+00:00
675141   2017-08-16 12:00:00+00:00
675142   2017-08-16 15:00:00+00:00
675143   2017-08-16 18:00:00+00:00
                    ...
675275   2017-09-02 00:00:00+00:00
675276   2017-09-02 03:00:00+00:00
675277   2017-09-02 06:00:00+00:00
675278   2017-09-02 09:00:00+00:00
675279   2017-09-02 12:00:00+00:00
Name: TIME_, Length: 141, dtype: datetime64[ns, UTC]